<h2>INFO</h2>
<p></p>
<h2>WHEN</h2>
<p></p>
<p></p>
<h2>WHO</h2>
<p></p>
<h2>PRICES</h2>
<span class='material-icons'>
            qr_code
        </span>
<p></p>
<button type='button'>BUY TICKETS</button>
<span class='material-icons'>
            qr_code
        </span>
<p></p>
<button type='button'>BUY TICKETS</button>