<header class="header-section">
    <div class="container header-position">
        <h1 class="header-sleng">FIND BEST EVENTS AROUND THE WORLD</h1>
        <form class="earch-event-area" id="earch-event-area">
            <input
              type="text"
              name="query"
              autocomplete="off"
              placeholder="Start searching"
            />
          </form>
          <form class="search-country-area" id="search-country-area">
            <input
              type="text"
              name="query"
              autocomplete="off"
              placeholder="Choose country"
            />
          </form>
    </div>
</header>