.gallery-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  // width: 280px;

  // @media screen and (min-width: $tablet) {
  //   width: 610px;
  // }

  // @media screen and (min-width: $desktop) {
  //   width: 946px;
  // }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 60px;

  @media screen and (max-width: $mobile) {
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    margin-top: -58px;
    margin-left: -27px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: -63px;
    margin-left: -70px;
    margin-bottom: 80px;
  }
}

.event-card {
  // display: block;

  position: relative;
  top: 0;
  left: 0;

  @media screen and (min-width: $mobile) {
    margin-top: 39px;
    margin-left: 14px;
    flex-basis: calc(100% / 2 - 14px);
  }

  @media screen and (min-width: $tablet) {
    margin-top: 58px;
    margin-left: 27px;
    flex-basis: calc(100% / 3 - 27px);
  }

  @media screen and (min-width: $desktop) {
    margin-top: 63px;
    margin-left: 70px;
    flex-basis: calc(100% / 4 - 70px);
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    border: 1px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0px;

    @media screen and (min-width: $mobile) {
      width: 110px;
      height: 100px;
      top: -10px;
      right: -10px;
    }

    @media screen and (min-width: $tablet) {
      width: 153px;
      height: 143px;
      top: -14px;
      right: -14px;
    }
  }
}

.event-image__wrapper {
  overflow: hidden;
  border-radius: 50px 0;
}

.event-image {
  overflow: hidden;
  @media screen and (min-width: $mobile) {
    width: 128px;
    height: 161px;
    object-fit: cover;
  }

  @media screen and (min-width: $tablet) {
    width: 180px;
    height: 227px;
    object-fit: cover;
  }
}

.event-content {
  padding-top: 5px;
  text-align: center;
}

.event-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: var(--accent-color);

  @media screen and (min-width: $tablet) {
    // justify-content: space-between;
    font-size: 16px;
    line-height: 1.25;
  }
}

.event-date {
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);
  margin-bottom: 5px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.event-place {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--white-color);

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.21;
  }
}

// .cards-icons {
//   width: 6px;
//   height: 9px;
//   margin-right: 3px;
//   color: var(--white-color);
// }
