.input-container {
  width: 270px;
  height: 40px;
  padding: 10px 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;

  @media screen and (max-width: $mobile-max) {
    display: flex;
    align-items: center;
  }

  &:focus {
    outline: none;
  }
  &:focus::-webkit-input-placeholder {
    color: var(--accent-color);
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }
}

.input-icons {
  color: var(--accent-color);
  animation-name: changeScale;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  text-shadow: 0 0 5px;
}

.input-area {
  display: inline-block;
  position: relative;

  &:not(:first-child) {
    margin-left: 30px;
  }
  @media screen and (max-width: $mobile-max) {
    &:not(:first-child) {
      margin-left: 0;
      margin-top: 25px;
    }
  }

  .input-area_icons-container {
    position: absolute;
    display: flex;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.input--position {
  position: relative;
}

.input-open {
  border-radius: 20px 20px 0 0;
}

// .search-country-area ::after {
//   display: inline-block;
//   content: '';
//   width: 225px;
//   height: 1px;
//   background-color: tomato;
// }

.countries-list {
  position: absolute;
  z-index: 11;

  height: 210px;
  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 0 0 20px 20px;
  // border-top: 1px solid var(--placeholder-text-color);

  overflow: auto;
  cursor: pointer;
}

// .countries-list::before {
//   display: inline-block;
//   content: '';
//   width: 225px;
//   height: 1px;
//   background-color: var(--footer-color);
// }

// скроллбар
::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 4px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 3px;
  height: 43px;
  background-color: var(--placeholder-text-color);
}

.countries-item {
  padding-left: 30px;
  margin-bottom: 2px;
  color: var(--list-color);
  text-align: left;
}

.countries-item:hover {
  background: rgba(255, 255, 255, 1);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.is-hiden {
  display: none;
}

.add-line::before {
  display: none;
  position: absolute;

  margin: 0px 8%;
  content: '';
  display: block;
  width: 225px;
  height: 2px;
  background-color: var(--placeholder-text-color);
  z-index: 99;
}

// .icon--rotate {
//   transform: rotate(45deg);
// }
