#tui-pagination-container {
    display: block;
    text-align: center;

    

}

.tui-page-btn {
    
    color: var(--white-color);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    

    &:hover,
    &:focus {
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        border-radius: 10px 0 10px 0;
        
        
    }
}

.tui-is-selected {
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        border-radius: 10px 0 10px 0;
}


strong {
    
    cursor: default;
}

.btn-hidden {
    opacity: 0;
}

.btn-open {
    opacity: 1;
}





